*

!/build/Dockerfile
!/build/Marktstammdatenregister.db.br
!/build/Procfile
!/build/datasette.sh
!/build/default.vcl
!/build/extension-functions.c
!/build/metadata.yaml
!/build/settings.json
!/build/varnish.sh
