*

!/build/Dockerfile
!/build/Marktstammdatenregister.db.br
!/build/Procfile
!/build/datasette.sh
!/build/extension-functions.c
!/build/varnish.sh
!/config/default.vcl
!/config/metadata.yaml
!/config/settings.json
