#!/usr/bin/env -S jq -r -f

# Derived from https://stackoverflow.com/a/32965227
# List of column names generated via: s/.*name="\([^"]\+\)".*$/\1/g

."{{element}}"
| ([
{{#fields}}
  "{{name}}",
{{/fields}}
  "Dummy because lists cannot end with a comma in jq"
] | .[:-1]) as $cols
| map(. as $row | $cols | map($row[.])) as $rows
| $cols, $rows[]
| @csv
