create table "{{root}}" (
  {{#fields}}
  "{{name}}" {{#psql}}{{psql}}{{/psql}}{{^psql}}text{{/psql}}{{#mandatory}} not null{{/mandatory}}{{#references}} references "{{table}}"("{{column}}") deferrable initially deferred{{/references}},
  {{/fields}}
  primary key ("{{primary}}")
);
