<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/pico.min.css">
    <style>
        /* Show <tr>s in the overview table not marked with class="failure" iff #all-files is checked. */
        table.overview tbody tr { display: none; }
        table.overview tbody tr.failure { display: table-row; }
        #only-failures:not(:checked)~figure table.overview tbody tr { display: table-row; }
    </style>
    <title>{{ExportName}}</title>
</head>

<body>
    <main class="container">
        <hgroup>
            <h1>{{ExportName}}</h1>
            <h2>{{Url}}</h2>
        </hgroup>

        <article>
            <header><strong>Zusammenfassung</strong></header>

            <input id="only-failures" type="checkbox" role="switch" checked />
            <label for="only-failures">Nur Dateien mit Validierungsfehlern anzeigen</label>
            <p></p>
            <figure>
                <table class="overview" role="grid">
                    <thead>
                        <tr>
                            <th scope="col">Dateiname</th>
                            <th scope="col">Fehlende Felder</th>
                            <th scope="col">Kaputte Verweise</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#Files}}
                        <tr class="{{#NumMissing}}failure{{/NumMissing}}{{^NumMissing}}{{#NumBroken}}failure{{/NumBroken}}{{/NumMissing}}">
                            <th scope="row">{{FileName}}</th>
                            <td>{{#NumMissing}}<a href="#{{FileName}}--missing">{{NumMissing}}</a>{{/NumMissing}}{{^NumMissing}}—{{/NumMissing}}</td>
                            <td>{{#NumBroken}}<a href="#{{FileName}}--broken">{{NumBroken}}</a>{{/NumBroken}}{{^NumBroken}}—{{/NumBroken}}</td>
                        </tr>
                        {{/Files}}
                    </tbody>
                </table>
            </figure>
        </article>

        {{#Files}}

        {{#NumMissing}}
        <article id="{{FileName}}--missing">
            <header><strong>Fehlende Pflichtfelder</strong> in <code>{{FileName}}</code></header>
            <figure>
                <table role="grid">
                    <thead>
                        <tr>
                            <th scope="col">Feldname</th>
                            <th scope="col">Beispieleintrag</th>
                            <th scope="col">Anzahl Fälle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#Missing}}
                        <tr>
                            <th scope="row">{{FieldName}}</th>
                            <td>{{Example}}</td>
                            <td>{{NumOccurrences}}</td>
                        </tr>
                        {{/Missing}}                                                                                                                                     
                    </tbody>
                </table>
            </figure>
        </article>
        {{/NumMissing}}

        {{#NumBroken}}
        <article id="{{FileName}}--broken">
            <header><strong>Kaputte Verweise</strong> in <code>{{FileName}}</code></header>
            <figure>
                <table role="grid">
                    <thead>
                        <tr>
                            <th scope="col">Eintrag</th>
                            <th scope="col">Fremdschlüsselfeld</th>
                            <th scope="col">Zieleintragstyp</th>
                            <th scope="col">Zieleintrag</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#Broken}}
                        <tr>
                            <th scope="row">{{SourceKey}}</th>
                            <td>{{ForeignKeyField}}</td>
                            <td>{{TargetTable}}</td>
                            <td><s>{{TargetKey}}</s></td>
                        </tr>
                        {{/Broken}}
                    </tbody>
                </table>
            </figure>
        </article>
        {{/NumBroken}}

        {{/Files}}
    </main>

    <!-- GoatCounter does not collect personal information, see https://www.goatcounter.com/help/privacy -->
    <script data-goatcounter="https://marktstammdatenregister-dev.goatcounter.com/count" async src="/static/count.js"></script>

</body>

</html>
